## Class in OOP (Object Oriented Programming)

In [1]:
age = 28
print(type(age))

<class 'int'>

In [2]:
h = 5.6
print(type(h))

<class 'float'>

In [3]:
s = [9,7,8,5,6]
print(type(s))

<class 'list'>

In [4]:
s.append(7)

In [5]:
s

[9, 7, 8, 5, 6, 7]

## Creating custom class person

In [6]:
class person:
    # Constructor function - define attributes of function
    def __init__(self,name,age,gender,occupation):
        self.name = name
        self.age = age
        self.gender = gender
        self.occupation = occupation
    # User Defined function
    def talk(self):
        print(f'Hi There is my name is {self.name}')
        print(f'My age is {self.age}')
        print(f'I am {self.gender}')
        print(f'I work as {self.occupation}')

In [7]:
p1 = person(name='Mohit',age=21,gender='Male',occupation='Data Analyst')

In [8]:
p1

In [9]:
p1.name

'Mohit'

In [10]:
p1.age

21

In [11]:
p1.gender

'Male'

In [12]:
p1.occupation

'Data Analyst'

In [13]:
p1.talk()

Hi There is my name is Mohit
My age is 21
I am Male
I work as Data Analyst

In [14]:
p2 = person(name='Kaaju',gender='Male',age=21,occupation='CDS')

In [15]:
p2

In [16]:
p2.name

'Kaaju'

In [17]:
p2.occupation

'CDS'

In [18]:
p2.talk()

Hi There is my name is Kaaju
My age is 21
I am Male
I work as CDS

## Create a class Bank account

![Alt text](image.png)

In [120]:
class account:
   # Add init constructor
    def __init__(self,acc_no,name,bal=0):
      self.acc_no = acc_no
      self.name = name
      self.bal = bal
    #Function for depositing money
    def deposit(self,amt):
      self.bal = self.bal + amt
      print(f'Balance of {amt} INR Deposited in Your Bank account number : {self.acc_no}')
      print(f'Current Balance: {self.bal} INR')

    #Function to withdraw money:
    def withdraw(self,amt):
      if self.bal >= amt:
         self.bal = self.bal - amt
         print(f'Amount of {amt} INR withdrawn from your bank account number : {self.acc_no}')
         print(f'Current Balance : {self.bal} INR')
      else:
         print(f'Insufficient Balance in account {self.acc_no}.Current Balance in your account is {self.bal}')
    #Function to transfer money
    def transfer(self,amt,ac2):
      if self.bal>=amt:
         self.bal = self.bal - amt
         ac2.bal = ac2.bal + amt
         print(f'Amount of {amt} INR Transferred to account number : {ac2.acc_no} from your account: {self.acc_no}')
         print(f'Current Balance :{self.bal} INR')
      else:
         print(f'Insufficient balance in account {self.acc_no}. Current balance in your account {self.bal} INR')

In [121]:
a1 = account(acc_no=123,name='Mohit Rajpoot',bal=5000)
a5 = account(acc_no=900,name='Rakhi sawant',bal=00)

In [122]:
a1.transfer(amt=300,ac2=a5)

Amount of 300 INR Transferred to account number : 900 from your account: 123
Current Balance :4700 INR

In [23]:
print(type(a1))

<class '__main__.account'>

In [24]:
a1.acc_no

123

In [25]:
a1.name

'Mohit Rajpoot'

In [37]:
a1.bal

12500

In [69]:
a =a1.deposit(2500000)

Balance of 2500000 INR Deposited in Your Bank account number : 123
Current Balance: 2500000 INR

In [70]:
a1.bal

2500000

In [71]:
a1.bal

2500000

In [72]:
a

In [73]:
a

In [74]:
a1.bal

2500000

In [75]:
a1.withdraw(1000)

Amount of 1000 INR withdrawn from your bank account number : 123
Current Balance : 2499000 INR

In [76]:
a2

In [77]:
a1.bal

2499000

In [78]:
a1.withdraw(15000)

Amount of 15000 INR withdrawn from your bank account number : 123
Current Balance : 2484000 INR

In [96]:
a2 = account(acc_no=456,name='raju')

In [97]:
a2.bal

0

In [98]:
a2.name

'raju'

In [99]:
a2.acc_no

456

## Transferring money from ac1 to ac2

In [90]:
a1.bal

2474000

In [103]:
a3 = account(acc_no=678,name='Rushi',bal=100000)

In [124]:
a6 = account(acc_no=121212,name='Jyoti Gorade',bal=1000)
a7 = account(acc_no=131313,name='Vaishali Gorade',bal=1000)

In [125]:
a6.name

'Jyoti Gorade'

In [126]:
a7.name

'Vaishali Gorade'

In [127]:
a6.bal

1000

In [128]:
a7.bal

1000

In [129]:
a6.acc_no

121212

In [130]:
a7.acc_no

131313

In [131]:
type(a6)

__main__.account

In [132]:
print(type(a7))

<class '__main__.account'>

In [133]:
a6.deposit(2000)

Balance of 2000 INR Deposited in Your Bank account number : 121212
Current Balance: 3000 INR

In [134]:
a7.withdraw(1000)

Amount of 1000 INR withdrawn from your bank account number : 131313
Current Balance : 0 INR

In [135]:
a6.transfer(2000,a7)

Amount of 2000 INR Transferred to account number : 131313 from your account: 121212
Current Balance :1000 INR

In [136]:
a6.deposit(4000)

Balance of 4000 INR Deposited in Your Bank account number : 121212
Current Balance: 5000 INR

In [138]:
a6.transfer(2500,a7)

Amount of 2500 INR Transferred to account number : 131313 from your account: 121212
Current Balance :2500 INR

In [139]:
a6.withdraw(15000)

Insufficient Balance in account 121212.Current Balance in your account is 2500

## Complete