## Functions assignment Solution:-

![Alt text](image.png)

## Q1. Write 2 functions to convert temperature to Celsius and Farenheit with names celsius_to_farenheit and farenheit_to_celsius

![Alt text](image-1.png)

In [1]:
def cel_to_far(C):
    F = (9/5)*C+32
    return F

In [2]:
cel_to_far(37)

98.60000000000001

In [3]:
t1 = cel_to_far(40)

In [4]:
t1

104.0

In [5]:
def far_to_cel(F):
    C = (5/9)*(F-32)
    return C

In [6]:
far_to_cel(100)

37.77777777777778

In [7]:
far_to_cel(40)

4.444444444444445

## Q2. Write a function to calculate factorial of given number $eg. 5 factorial = 5*4*3*2*1$
6! = 6x5x4x3x2x1

In [8]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

0! = 1

In [10]:
def factorial(n):
    if n==0:
        f = 1
    else:
        f = 1
        for i in range(1,n+1):
            f = f*i
    return f

In [11]:
factorial(5)

120

In [12]:
5*4*3*2*1

120

In [13]:
factorial(0)

1

In [14]:
factorial(8)

40320

In [15]:
8*7*6*5*4*3*2*1

40320

## Q3. Write a function to count vowels from a given word (A , E, I , O, U)

In [16]:
a ='ETLHive'

In [17]:
a.lower()

'etlhive'

In [18]:
a.upper()

'ETLHIVE'

In [19]:
12 > 13

False

In [20]:
'a' in 'aeiou'

True

In [21]:
'x' in 'Mohit'

False

In [22]:
for i in a.lower():
    print(i)

e
t
l
h
i
v
e

In [23]:
b = 'Mohit'

In [24]:
for i in b:
    print(i)

M
o
h
i
t

In [25]:
def vowel_counter(st):
    v = 0
    for i in st.lower():
         if i in 'aeiou':
             v = v+1
    return v

In [26]:
vowel_counter('ETLHIVE')

3

In [27]:
vowel_counter('Hi All Welcome to Data Science Class')

12

In [28]:
vowel_counter('MOhit Rajpoot')

5

## Q4 : For given P INR, N in Years and R in %p.a. calculate EMI (Equal Monthly Installements)

![Alt text](image-4.png)
1. 1 year = 12 %
2. 12 month = 12 %
3. 1 month = (12)%/12 = 1% = 1/100 = 0.01 per month

In [29]:
def calculate_EMI(P,N,R):
    # Convert N from years to months
    n = N*12
    # Convert R from %p.a. to %p.m.
    r = R/(12*100)
    # EMI Calculation
    x = (1+r)**n
    EMI = P*r*x/(x-1)
    return round(EMI)

In [30]:
e1 = calculate_EMI(P=500000,N=3,R=12.5)

In [31]:
e1

16727

In [32]:
e2 = calculate_EMI(P=800000,N=5,R=15)

In [33]:
e2

19032

Q5. Take marks of multiple students as input and provide grade accordingly
1. More than 90 : A
2. 80 - 89 : B
3. 70 - 79 : C
4. 60 - 69 : D
5. Below 60 : F

In [34]:
def get_grades(*marks):
    gr = []
    for i in marks:
        if i>=90:
            gr.append('A')
        elif i>=80 and i<=89:
            gr.append('B')
        elif i>=70 and i<=79:
            gr.append('C')
        elif i>=60 and i<=69:
            gr.append('D')
        else:
            gr.append('F')
    return gr

In [35]:
get_grades(78)

['C']

In [36]:
g1 = get_grades(65, 98, 75, 82, 86, 30, 55)

In [37]:
g1

['D', 'A', 'C', 'B', 'B', 'F', 'F']

In [38]:
get_grades(89,90,12,34,56,67)

['B', 'A', 'F', 'F', 'F', 'D']

![Alt text](image-5.png)

In [39]:
def analyze_marks(*marks):
    v = len(marks)
    # Average marks :-
    s = sum(marks)
    c = len(marks)
    avg = s/c

    # Highest marks :-
    High = max(marks)

    # lowest marks :- 
    low = min(marks)

    # Number of students passed and failed
    p = 0
    f = 0
    for i in marks:
        
        if i>=60:
            p = p+1
        else:

            f = f+1
    
    # Create a dictionary
    dct = {'No. of Students': [v],
           'Average Marks': [avg],
           'Highest_marks':[High],
           'Lowest_marks':[low],
           'Passed_Students': [p],
            'Failed_Students':[f]}
    # Convert dct to dataframe
    import pandas as pd
    df = pd.DataFrame(dct)

    return df

In [40]:
analyze_marks(35, 78, 93, 85, 86, 62, 56, 65)

,No. of Students,Average Marks,Highest_marks,Lowest_marks,Passed_Students,Failed_Students
0,8,70.0,93,35,6,2

In [41]:
analyze_marks(23)

,No. of Students,Average Marks,Highest_marks,Lowest_marks,Passed_Students,Failed_Students
0,1,23.0,23,23,0,1

In [42]:
analyze_marks(56,67,78,89,12,13,14,19)

,No. of Students,Average Marks,Highest_marks,Lowest_marks,Passed_Students,Failed_Students
0,8,43.5,89,12,3,5

## Decorator functions

In [43]:
def hello_world():
    print('Hello World')

In [44]:
hello_world()

Hello World

In [45]:
def welcome_decorator(func):
    def wrapper(*args,**kwrgs):
        print('Welcome to my program')
        func(*args,**kwrgs)
        print('Thank you for using my program')
    return wrapper

In [46]:
@welcome_decorator
def hello_world():
    print('Hello_world')

In [47]:
hello_world()

Welcome to my program
Hello_world
Thank you for using my program

In [48]:
@welcome_decorator
def random_addition():
    a = 23
    b = 42
    print(f'Addition of {a} and {b} is {a+b}')

In [49]:
random_addition()

Welcome to my program
Addition of 23 and 42 is 65
Thank you for using my program

In [50]:
@welcome_decorator
def add(a,b):
    c = a+b
    print(f'Addition of {a} and {b} is {c}')

In [51]:
add(3,4)

Welcome to my program
Addition of 3 and 4 is 7
Thank you for using my program

In [52]:
add(12.5,13.4)

Welcome to my program
Addition of 12.5 and 13.4 is 25.9
Thank you for using my program

In [53]:
@welcome_decorator
def add(a,b,c,d):
    s = a+b+c+d
    print(f'Addition of {a}, {b},{c} and {d} is {s}')

In [54]:
add(12,12,12,12)

Welcome to my program
Addition of 12, 12,12 and 12 is 48
Thank you for using my program

## Calculate execution time of given code

In [55]:
import time

In [56]:
time.time()

1696327109.0821755

In [57]:
time.time()

1696327109.096641

In [58]:
dir(print)

['__call__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__name__',
 '__ne__',
 '__new__',
 '__qualname__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__self__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__text_signature__']

In [59]:
dir(type)

['__abstractmethods__',
 '__annotations__',
 '__base__',
 '__bases__',
 '__basicsize__',
 '__call__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dictoffset__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__flags__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__instancecheck__',
 '__itemsize__',
 '__le__',
 '__lt__',
 '__module__',
 '__mro__',
 '__name__',
 '__ne__',
 '__new__',
 '__or__',
 '__prepare__',
 '__qualname__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasscheck__',
 '__subclasses__',
 '__subclasshook__',
 '__text_signature__',
 '__weakrefoffset__',
 'mro']

In [60]:
time.time_ns()

1696327109149361800

In [61]:
def time_decorator(func):
    def wrapper(*args,**kwargs):
        t1 = time.time_ns()
        func(*args,**kwargs)
        t2 = time.time_ns()
        tr = t2-t1
        print(f'Time required for execution of this code is {tr}')
        return func(*args,**kwargs)
    return wrapper

In [62]:
@time_decorator
def square_list(n):
    sq = []
    for i in range(1,n+1):
        sq.append(i**2)
    return sq

In [63]:
sq1 = square_list(25)

Time required for execution of this code is 0

In [64]:
sq1

[1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625]

In [65]:
@time_decorator
def calculate_EMI(P, N, R):
    # Convert N from years to months
    n = N*12

    # Convert R from %p.a. to %p.m.
    r = R/(12*100)

    # EMI Calculation
    x = (1+r)**n
    EMI = P*r*x/(x-1)

    return round(EMI)

In [66]:
calculate_EMI(P=1000000, N=10, R=16)

Time required for execution of this code is 0

16751

In [67]:
e2 = calculate_EMI(P=1000000, N=10, R=16)

Time required for execution of this code is 0

In [68]:
e2

16751

## Complete++++++++++++++++