## Functions in class:-
Inbuilt functions in python

In [2]:
print('Hi all welcome to Advance Python class')

Hi all welcome to Advance Python class

In [3]:
a = [1,2,3,4,5]

In [4]:
a

[1, 2, 3, 4, 5]

In [5]:
type(a)

list

In [6]:
len(a)

5

In [7]:
a.append(10)

In [8]:
a

[1, 2, 3, 4, 5, 10]

In [9]:
sum(a)

25

## Custom functions in Python

![Alt text](image.png)

In [11]:
def add(a,b):
    """input : Any two numbers
       Output : Addition of two numbers"""
    c = a+b
    return c

In [12]:
add(3,4)

7

In [13]:
add(6,7)

13

In [14]:
add(9,10)

19

In [15]:
add(12.5,12.5)

25.0

In [18]:
add([1,2,3,4],[5,6,7,8])

[1, 2, 3, 4, 5, 6, 7, 8]

In [16]:
add(13,12,13)

TypeError: add() takes 2 positional arguments but 3 were given

## Multiple inputs in functions

## Use of arguments in functions *args

In [19]:
def arguments(*args):
    for i in args:
        print(i)

In [20]:
arguments('hii all friends')

hii all friends

In [22]:
arguments('mohitrajput@gmail.com')

mohitrajput@gmail.com

In [23]:
arguments(1,2,3,4,5,6,7,8,9)

1
2
3
4
5
6
7
8
9

In [26]:
def add_many(*num):
    """This function adds multiple Numbers"""
    # Intialize sum to 0
    s = 0
    # Apply for loop on nums
    for i in num:
        s = s + i
    return s

In [27]:
add_many(1,4,7,9)

21

In [28]:
add_many(4,6)

10

In [29]:
s1 = add_many(10, 111, 13, 15, 17, 56, 82)
s1

304

In [36]:
10+111+13+15+17+56+82

304

In [34]:
s1 = add_many(90,90,90)

In [35]:
s1

270

## Getting product of multiple numbers

In [44]:
def product_many(*nums):
    """This function gives product of Multiple Numbers"""
    # Inialize product by 1
    p = 1
    # Apply for loop
    for i in nums:
        p = p*i
    return p

In [45]:
product_many(3, 4)

12

In [46]:
product_many(6, 10, 12, 14, 11)

110880

In [47]:
6*10*12*14*11

110880

## Keyword Arguments
**kwargs - dictionaries

{key1: value1, key2: value2, . . .}

In [49]:
dct = {101:'utakarsh',
       102:'Mohit',
       103:'darshan',
       104:'Rushi'}

In [50]:
dct.keys()

dict_keys([101, 102, 103, 104])

In [51]:
dct.values()

dict_values(['utakarsh', 'Mohit', 'darshan', 'Rushi'])

In [53]:
dct.items()

dict_items([(101, 'utakarsh'), (102, 'Mohit'), (103, 'darshan'), (104, 'Rushi')])

In [55]:
def keyword_arguments(**kwargs):
    for key, value in kwargs.items():
        print(f'{key} : {value}')

In [60]:
keyword_arguments(name = 'utkarsh',age=39,gender='male',married= False
                  )

name : utkarsh
age : 39
gender : male
married : False

In [61]:
keyword_arguments(name='Utkarsh', age=29, gender='Male', married=False, email='example@gmail.com')

name : Utkarsh
age : 29
gender : Male
married : False
email : example@gmail.com

## Creation of user data

In [63]:
def create_user(**kwrgs):
    """This function creates a new User"""
    user = {'Username':"",
            'email':"",
            'age':18}
    user.update(kwrgs)
    return user

In [66]:
user1 = create_user(Username = 'Mohit',email='Mohitrajput@gmail.com',age=15)

In [67]:
user1

{'Username': 'Mohit', 'email': 'Mohitrajput@gmail.com', 'age': 15}

In [68]:
user1

{'Username': 'Mohit', 'email': 'Mohitrajput@gmail.com', 'age': 15}

In [77]:
user2 = create_user(Username='aditi',email='ex@gmail.com')

In [78]:
user2

{'Username': 'aditi', 'email': 'ex@gmail.com', 'age': 18}

In [80]:
d1 = {'a':1,
      'b':2,
      'c':3}

In [81]:
d1

{'a': 1, 'b': 2, 'c': 3}

In [82]:

d2 = {'a':10,
      'b':15,
      'c':17}

In [83]:
d1.update(d2)

In [84]:
d1

{'a': 10, 'b': 15, 'c': 17}

In [85]:
d1

{'a': 10, 'b': 15, 'c': 17}

In [86]:
d2

{'a': 10, 'b': 15, 'c': 17}

## Function to Calclate hyptoenuse of right angled triangle
$ c^2 = a^2 + b^2$

$ c = sqrt(a^2+b^2)$

In [87]:
2**2

4

In [88]:
4**3

64

In [90]:
9**(1/2)

3.0

In [91]:
16**(1/2)

4.0

In [92]:
def hypotenuse(a,b):
    c = (a**2 + b**2)**(1/2)
    return c

In [93]:
h1 = hypotenuse(3,4)

In [94]:
h1

5.0

In [95]:
h2 = hypotenuse(11,12)

In [96]:
h2

16.278820596099706

## Takes 3 sides of triangle as input and tell wheter it forms a triangle or not
Sum of two sides > third

In [97]:
def istriangle(a,b,c):
    """This function tells whether given 3 sides form a triangle or not"""
    if (a+b)>c and (b+c)>a and (a+c)>b:
        s = True
    else:
        s = False
    return s

In [99]:
istriangle(3,4,5)

True

In [101]:
istriangle(1,2,4)

False

## Calculating area of triangle with given sides a, b, c
Herons Formula $ s = (a+b+c)/2$

$area = sqrt(s*(s-a)*(s-b)*(s-c))$

In [106]:
def area_tri(a,b,c):
    """This function gives area of Triangle"""
    if istriangle(a,b,c)==True:
        s = (a+b+c)/2
        ar = (s*(s-a)*(s-b)*(s-c))**(1/2)
    else:
        ar = None
        print(f'The given sides {a},{b} and {c} DO Not Forms Triangle')
    return ar

In [107]:
t1 = area_tri(12,13,14)

In [108]:
t1

72.30793524918272

In [110]:
t2 = area_tri(1,2,3)

The given sides 1,2 and 3 DO Not Forms Triangle

In [111]:
t2

In [112]:
area_tri(3,4,5)

6.0

## Complete++++++++++++